<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPullMail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8844AE851DCCBDD200070CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8844AE9E1DCCBDD200070CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8844AEA91DCCBDD200070CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
